.titleHistorico{
    text-align: center;
    width: 90%;
    margin: 20px auto 0px auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
}

.HistoricoNotas{
    height: max-content
}

.HistoricoNotas h3 { 
    margin: auto;
    font-weight: 300;
    font-size: 16px;
    padding: 5px 0px;
    border-bottom: 1px grey solid;
    width: 100%;
    text-align: center;
    height: max-content;
}